*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 700;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?cs=srgb&dl=pexels-thatguycraig000-1563356.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
}


.calculator{
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 16px;
    /* background-color: #000000; */
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.8);
}

input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    background-color: rgba(52, 52, 52, 0.3);
    /* box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5); */
    font-size: 65px;
    text-align: right;
    color: white;
    /* border : 2px solid rgba(0,0,0,0.3) */
    border: none;
    border-radius: 16px;
    border: 1px solid rgb(71, 71, 71);

}

/* This place holder is something new  */
input::placeholder{
    color: #ffffff;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    /* gap: 10px; */
    border-radius: 8px;
    border: none;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid rgb(52, 52, 52);
    border-radius: 80px;
    text-align: center;
}

.ac, .del {
    font-size: 16px;
}

button:hover{
    background: rgba(44, 44, 44, 0.8);
    border: 1px solid white;
}

.equalbtn{
    background-color: #008000;
    font-size: 28px;
}

.equalbtn:hover{
    background-color: #009b00;
    border: none;
}


.operator{
    color: #62ff7a;
}
